@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;0,800;0,900;1,600&family=Roboto:wght@100;300;400;500;700&display=swap');
@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.mim.css";

:root {
    --main-color: #d3ad7f;
    --black:#13131a;
    --bg:#010103;
    --border:.1rem solid rgba(255,255,255,.3);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    outline: none; border: none;
    text-transform: capitalize; transition: .2s linear;
}
html {
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}
html::-webkit-scrollbar-track {
    background: transparent;
}
html::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5rem;
}

body {
    background: var(--bg);
}

.section {
    padding: 2rem 7%;
}
a, a:hover{
    text-decoration: none;
    color: #fff;
}

ul{
    list-style: none;
}
li{
    display: inline-block;
}
.header{
    width: 100%;
    height: 125vh;
    background-image: url(foto/main.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.header .nav-bar{
    width: 90%;
    height: 80px;
    margin: auto;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
}
.header .nav-bar .logo{
    margin-left: 50px;
}
.header .nav-bar .logo a{
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}
.header .nav-bar .logo span{
    font-size: 35px;
    color: #d43242;
    margin-left: 5px;
}
.header .nav-bar .menu ul li{
    margin-right: 30px;
}
.header .nav-bar .menu ul li a{
    font-size: 19px;
    letter-spacing: 2px;
    padding: 10px;
    border-radius: 5px;
    text-transform: capitalize;
    transition: all 0.5s;
    opacity: 0.6;
}
.header .nav-bar .menu ul li a.active{
    opacity: 1;
}
.header .nav-bar .menu ul li span{
    position: absolute;
    top: 0;
    color: #d43242;
    font-size: 75px;
}
.header .nav-bar .menu ul li a:hover{
    opacity: 1;
}
.header .nav-bar .social-media ul li i{
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin-right: 5px;
    border-radius: 50px;
    text-align: center;
    align-items: center;
    font-size: 19px;
    background-color: #cac5c542;
    transition: all 0.3s ease-in-out;
}
.header .nav-bar .social-media ul li i:hover{
    background-color: rgb(255 0 0 / 0.9);
}

.hero{
    width: 100%;
}
.hero .row{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    margin: auto;
}
.hero .row .left-sec{
    width: 30%;
    margin-top: 100px;
    margin-left: 50px;
}
.hero .row .left-sec h2{
    color: #fff;
    text-transform: capitalize;
}
.hero .row .left-sec h2 span{
    color: #d43242;
}
.hero .row .left-sec p{
    margin: 20px 0;
    color: #fff;
    line-height: 28px;
    padding-right: 150px;
}
.hero .row .left-sec .discover-btn{
    display: flex;
    align-items: center;
    outline: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 50px;
    padding: 0 25px;
    border: 3px solid #ffa938;
    background-color: #d43242;
    box-shadow: 5px 7px 20px #000;
}
.hero .row .left-sec .discover-btn a{
    color: #fff;
    font-size: 25px;
    letter-spacing: 2px;
    margin-right: 15px;
    text-transform: capitalize;
}
.hero .row .left-sec .discover-btn span{
    color: #fff;
    font-size: 45px;
}
.hero .information{
    width: 100%;
    display: flex;
    margin-top: 100px;
}
.hero .information .production{
    margin-right: 65px;
    line-height: 20px;
}
.hero .information .production h2{
    font-size: 20px;
    letter-spacing: 1px;
    color: unset;
}
.hero .information .production p{
    padding-right: 0;
    letter-spacing: 1px;
    color: bisque;
}
.hero .right-sec{
    width: 70%;
    padding-top: 100px;
}
.hero .right-sec img{
    width: 950px;
    height: 550px;
    margin: auto;
    float: right;
}

.slick-next, .slick-prev {
    top: 110% !important;
    z-index: 999;
}
.slick-prev{
    position: absolute;
    left: 850px !important;
}
.slick-next{
    position: absolute;
    right: 130px !important;
}
.slick-next:before, .slick-prev:before {
    font-size: 45px !important;
}
.slick-dots{
    padding-left: 80px !important;
    margin-bottom: -50px !important;
}
.slick-dots li{
    margin-right: 15px !important;
   
}
.slick-dots li.slick-active:after{
    position: absolute;
    content: '';
    bottom: -15px;
    left: 6px;
    opacity: 1;
    color: red;
    font-size: 36px;
}

.carpets .row1 {
    display: flex;
    align-items: center;
    background: var(--bg);
    flex-wrap: wrap;
}
.carpets .row1 .image{
    flex-wrap: 1 1 45rem;
    margin-top: -37em;
}
.carpets .row1 .image img {
    width: 600px;
}
.carpets .row1 .content1{
    flex: 1 1 45rem;
    padding: 2rem;
}
.carpets .row1 .content1 h3{
    font-size: 2rem;
    color: #fff;
}
.carpets .row1 .content1 h3{
    color: #d43242;
}
.carpets .row1 .content1 {
    color: #fff;
    margin-left: 50px;
}
.carpets .row1 .content1 p{
    font-size: 1.6rem;
    color: #ccc;
    padding: 1rem 0;
    line-height: 1.8;
}
.slider {
   width: 600px;
   height: 400px;
   background: url(foto/tepia/1.jpeg);
   margin: 100px auto;
   animation: slide 20s infinite; 
   margin-left: -15em;
}
@keyframes slide{
   15%{
    background: url(foto/tepia/3.jpeg);
   } 
   30%{
    background: url(foto/tepia/4.jpeg);
   } 
   45%{
    background: url(foto/tepia/5.jpeg);
   } 
   60%{
    background: url(foto/tepia/6.jpg);
   } 
   75%{
    background: url(foto/tepia/7.jpg);
   } 
   90%{
    background: url(foto/tepia/8.jpg);
   } 
   100%{
    background: url(foto/tepia/9.jpeg);
   } 
}
aside {
    padding: 5em;
    max-width: 150px;
    display: grid;
}

.blankets {
    background-image: url(foto/Blankets/main.jpg);
    width: 100%;
    height: 125vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.blankets p{
    margin-left: 620px;
    color: white;
    font-size: 1.3rem;
}
.blankets p span {
    color: #d43242;
}
.blankets .trimi{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.blankets .trimi .carusel{
    width: 300px;
    margin: 100px auto 0;
    overflow: visible;
}
.blankets .trimi .carusel img{
    -webkit-box-reflect: below 20px linear-gradient(rgba(
    255,255,255,0.1),rgba(255,255,255,0.3));
}

.stairs {
    width: 100%;
    height: 125vh;
    background-image: url(foto/stairs/main.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.stairs .brave{
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: rotate 30s linear infinite;
    background: linear-gradient(to right, #2c5364, #0f2027);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 700px;
    margin-top: 15em;
}
@keyframes rotate{
    0%{
        transform: perspective(1000px) rotateY(0deg);
    }
    100%{
        transform: perspective(1000px) rotateY(360deg);
    }
}
.stairs .brave span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*45deg)) translateZ(350px);
}
.stairs .brave span img{
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    border-radius: 10px;
    object-fit: cover;
    transition: 2s;
}
.brave span:hover img{
    transform: translateY(-50px) scale(1.2);
}
.stairs p{
    margin-left: 640px;
    color: white;
    font-size: 1.3rem;
    margin-top: 0em;
}
.stairs p span {
    color: #d43242;
}

.rubber {
    background-image: url(foto/rubber/main.jpeg);
    width: 100%;
    height: 125vh; gap: var(--size-3);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    inline-size: min(100% - 4rem, 70rem);
    margin-inline: auto; display: grid; 
}
.rubber p{
    margin-left: 420px;
    color: white;
    font-size: 1.3rem;
    min-width: fit-content;
    margin-top: -11em;
}
.rubber p span {
    color: #d43242;
}
.hard-scroller{
    --_spacer: var(--size-3);
    display: grid; margin-top: -35em;
    gap: var(--_spacer);
    grid-auto-flow: column;
    grid-auto-columns: 21%;
    padding: 0 var(--_spacer) var(--_spacer);
    overflow-x: auto;
    overscroll-behavior-inline: contain;
}
.hard-element{
    display: grid; gap: var(--_spacer);
    grid-template-rows: min-content;
    padding: var(--_spacer);
    background: var(--surface-2);
    border-radius: var(--radius-2);
    box-shadow: var(--shadow-2);
}
.hard-element > img {
    inline-size: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}
.snaps-inline{
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: var(--_spacer, 1rem);
}
.snaps-inline > * {
    scroll-snap-align: start;
}

.children {
    background-image: url(foto/childrens/main.jpeg);
    width: 705; 
    height: 125vh; gap: var(--size-3);
    background-repeat: no-repeat;
    background-size: 100% 100%;
   
}    
.children p{
    margin-left: 620px;
    color: white;
    font-size: 1.3rem;
    min-width: fit-content;
    margin-top: -1em;
}
.children p span {
    color: #d43242;
}
.child{
    --_spacer: var(--size-3);
    display: grid; margin-top: 15em;
    gap: var(--_spacer);
    grid-auto-flow: column;
    grid-auto-columns: 21%;
    padding: 0 var(--_spacer) var(--_spacer);
    overflow-x: auto;
    overscroll-behavior-inline: contain;
}
.child-element{
    display: grid; gap: var(--_spacer);
    grid-template-rows: min-content;
    padding: var(--_spacer);
    background: var(--surface-2);
    border-radius: var(--radius-2);
    box-shadow: var(--shadow-2);
}
.child-element > img {
    inline-size: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}
.snaps-inline{
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: var(--_spacer, 1rem);
}
.snaps-inline > * {
    scroll-snap-align: start;
}
.contact .row{
    display: flex;
    background: var(--black);
    flex-wrap: wrap;
    gap: 1rem;
}
.contact .row .map{
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}
.contact .row form{
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}
.contact .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #fff;
}
.contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: var(--bg);
    border: var(--border);
}
.contact .row form .inputBox span{
    color: #fff;
    font-size: 2rem;
    padding-left: 2rem;
}
.contact .row form .inputBox input{
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: #fff;
    text-transform: none;
    background: none;
}
.footer{
    background: var(--black);
    text-align: center;
}
.footer .share{
    padding: 1rem 0;
}
.footer .share a{
   height: 5rem;
   width: 5rem;
   line-height: 5rem;
   font-size: 2rem;
   color: #fff;
   border: var(--border);
   margin: .3rem;
   border-radius: 50%;
}
.footer .share a:hover{
    background-color: var(--main-color);
}
.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}
.footer .links a{
    padding: .7rem 2rem;
    color: #fff;
    border: var(--border);
    font-size: 2rem;
}
.footer .links a:hover{
    background: var(--main-color);
}
.footer .credit{
    font-size: 2rem;
    color: #fff;
    font-weight: lighter;
    padding: 1.5rem;
}
.footer .credit span{
    color: var(--main-color);
}

